<!DOCTYPE html>
<html th:replace="~{layouts/generic :: layout(~{::title}, ~{::main})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Food list</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<main>
    <div class="main-container">

        <h1>Food list</h1>

        <div>
            <a href="/food/add">➕ New food</a><br><br>
        </div>

        <div class="table-container">
            <table class="styled-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Created</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="f : ${foods}"
                    class="clickable-row"
                    th:onclick="'window.location.href=\'/food/' + ${f.id} + '\';'">
                    
                    <td th:text="${f.name}">Name</td>
                    <td th:text="${f.brand}">Brand</td>
                    <td th:text="${f.category}">Category</td>
                    <td th:text="${f.createdAt}">2025-01-10</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</main>
</body>
</html>
