<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navigation Fragment</title>
</head>
<body>
<nav th:fragment="navbar">
    <div class="nav-container">
        <ul class="nav-left">
            <li><a th:href="@{/}">Dashboard</a></li>
            <li><a th:href="@{/purchase/list}">Purchase</a></li>
            <li><a th:href="@{/food/list}">Food</a></li>
            <li><a th:href="@{/activity}">Activity</a></li>
            <li><a th:href="@{/health}">Healthcare</a></li>
        </ul>

        <ul class="nav-right">
            <li><a href="/settings" title="Settings" class="icon-btn">⚙️</a></li>
            <li><a href="/signin">Sign in</a></li>
        </ul>
    </div>
</nav>
</body>
</html>
