<!DOCTYPE html>
<html th:replace="~{layouts/generic :: layout(~{::title}, ~{::main})}"
    xmlns:th="http://www.thymeleaf.org">
    
<head>
    <meta charset="UTF-8">
    <title>Book details</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main>
        <div class="main-container">
            <h1 th:text="${book.title}">Book Title</h1>
            <form th:action="@{/books/delete}" method="post">
                <input type="hidden" name="id" th:value="${book.id}" />
                <button class="button-link" type="submit">🗑️ Delete this book</button><br><br>
            </form>
            <div>
                <strong>Author:</strong> <span th:text="${book.author}">Author Name</span>
            </div>
        </div>
    </main>
</body>
</html>
