<!DOCTYPE html>
<html th:replace="~{layouts/generic :: layout(~{::title}, ~{::main})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Purchase details</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<main>
    <div class="main-container">
        <h1>Purchase details</h1>
        <a href="/purchase/list">&larr; 📋 Back to list</a>
        <br>
        <div class="form-container">
            <p><strong>Profile:</strong> <span th:text="${purchase.profile.name}"></span></p>
            <p><strong>Food:</strong> <span th:text="${purchase.food.name}"></span></p>
            <p><strong>Date:</strong> <span th:text="${purchase.purchaseDate}"></span></p>
            <p><strong>Quantity:</strong> <span th:text="${purchase.quantity}"></span></p>
            <p><strong>Price:</strong> <span th:text="${purchase.price}"></span></p>
            <p><strong>Store:</strong> <span th:text="${purchase.store}"></span></p>
            <hr>
            <form th:action="@{/purchase/delete}" method="post">
                <input type="hidden" name="id" th:value="${purchase.id}">
                <button type="submit" class="button-link">🗑️ Delete</button>
            </form>
        </div>
    </div>
</main>
</body>

</html>
