<!DOCTYPE html>
<html th:replace="~{layouts/generic :: layout(~{::title}, ~{::main})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Trips</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main>
        <div class="main-container">
            <h1>List of trips</h1>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>From</th>
                            <th>To</th>
                            <th>Locations</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="trip : ${trips}">
                            <td th:text="${trip.from}">From</td>
                            <td th:text="${trip.to}">To</td>
                            <td>
                                <span th:each="location : ${trip.locations}">
                                    <span th:text="${location.location}"></span><br/>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>    
        </div>
    </main>
</body>
</html>
